select.select-color{
    border: none;
    width: 40%;
    outline: none;
    border-radius: 10px;
    padding: 3px 3px 3px 8px;
    -moz-appearance: none;
    
    option:hover{
        background-color: #ccc;
      }

      &::-webkit-scrollbar{
        width: 10px;
      }

      
      &::-moz-scrollbar{
        width: 10px;
      }
}